

<div class="row">
    <div class="col-2">
      <section class="club-list">
      <% @myclubs.each do |m| %>
        <div class="card">
         <div class="card-block">
          <a href="/clubs/<%= m.club.id %>" class="btn btn-primary"><%= m.club.name %></a>
          </div>
        </div>
      <% end %>
      </section>
    </div>
    <div class="col-6">
      <section class="history">
        <% @post.each do |p| %>
        <div class="his-card">
          <div class="card mb-3">
            <div class="card-block">
            <h4 class="card-title"><%= p.club.name %><span style="float: right; "><%= link_to "팔로우", "/follows/create/#{p.club.id}" %></span></h4>
            <p class="card-text"><%= p.content %></p>
            <p class="card-text"><small class="text-muted"><%= p.created_at %></small></p>
            </div>
          </div>
        </div>
        <% end %>
      </section>
    </div>
    <div class="col-3">
      <section class="notice">
        <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </section>

    </div>
  </div>